html {
  font-family: 'Press Start 2P', cursive;
  background-image: url("wave.gif");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
  color: chartreuse;
}

a:hover {
  border: 2px solid chartreuse;
}

div {
  padding: 10%;
  text-align: center;
  margin: auto;
  width: 50%;
}

h1 {
  font-size: 400%;
  color: chartreuse;
}

h2 {
  font-size: 100%;
  padding-bottom: 50px;
  color: chartreuse;
}

ul {
  list-style: none;
}

li {
  padding: 10px;
}

.soc-icon {
  height: 18px;
  padding-right: 5px;
}
