html {
  font-family: 'Press Start 2P', cursive;
  background-color: black;
  background-image: url("source.gif");
}

a {
  text-decoration: none;
  color: chartreuse;
}

a:hover {
  border: 2px solid chartreuse;
}

div {
  padding: 10%;
  text-align: center;
  margin: auto;
  width: 50%;
}

h1 {
  color: chartreuse;
}

h2 {
  padding-bottom: 50px;
  color: chartreuse;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  padding: 10px;
}

.soc-icon {
  height: 18px;
  padding-right: 5px;
}
